{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block year_selection %}
<form id="year-form" class="year-form" action="" method="POST">
    <div class="radios-tab">
        <h3>Model Year:</h3>
        <div class="radios">
            {% for year in years: %}
                {% if year == year_selection: %}
                    <label for="radio-{{ year }}"><input onchange="reloadPage()" id="radio-{{ year }}" value="{{ year }}" type="radio" name="year-selection" checked>{{ year }}</label>
                {% else: %}
                    <label for="radio-{{ year }}"><input onchange="reloadPage()" id="radio-{{ year }}" value="{{ year }}" type="radio" name="year-selection">{{ year }}</label>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
{% block main %}

<p class="info">The goal of Depreciation Station is to compare the rate at which different coloured cars depreciate and for this, data is obtained from Autotrader using Python and web scraping. The scraping is automated to run daily on a Raspberry Pi 4 model b while this web page is hosted on PythonAnywhere. Data is communicated between these two nodes using a Flask RESTful API and starting in April 2022, some time needs to pass for data to be accumulated before any insight can be gained into the depreciation rates of different coloured cars. Come back tomorrow to see the new recordings! (Best viewed on a big display)</p>

<div class="home-wrapper">
    <div class="chart-box">
        <canvas class="myChart1" id="myChart1"></canvas>
    </div>
    <div class="chart-box">
        <canvas class="myChart2" id="myChart2"></canvas>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>

    function reloadPage(){

        var yearForm = document.getElementById("year-form");
        yearForm.submit();

    }

    document.addEventListener("DOMContentLoaded", function() {
        console.log("Time Analysis:")
        console.log({{ time_dict | safe }})
    });

    // Information used in seperate JS files
    const xlabels = {{ xlabels | safe }};
    const median_data = {
        labels: xlabels,
        datasets: {{ median_datasets | safe }}
    };
    const relative_data = {
        labels: xlabels,
        datasets: {{ relative_datasets | safe }}
    };
    const year_selection = {{ year_selection }}

    // Configuration to be used by both median_chart.js and relative_chart.js
    const legend_config = {
        position: 'top',
        labels: {
            color: '#6C99B7',
            padding: 15,
            font: {
                family: "Poppins",
                //size: 12
            }
        }
    }
    const xticks_config = {
        //autoSkip: true,
        maxTicksLimit: 12,
        color: '#6C99B7',
        maxRotation: 0,
        font: {
            family: 'Poppins'
        }
    }
    const xtitle_config = {
        display: true,
        text: 'Timeline (Dates)',
        font: {
            size: 16,
            family: "Poppins",
            weight: 'normal'
        },
        color: '#6C99B7'
    }

</script>

<script src="../static/median_chart.js" type="text/javascript"></script>
<script src="../static/relative_chart.js" type="text/javascript"></script>
{% endblock %}