{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block year_selection %}
<form id="year-form" action="" method="POST">
    <div class="radios-tab">
        <h3>Model Year:</h3>
        <div class="radios">
            {% for year in years: %}
                {% if year == year_selection: %}
                    <label for="radio-{{ year }}"><input onchange="reloadPage()" id="radio-{{ year }}" value="{{ year }}" type="radio" name="year-selection" checked>{{ year }}</label>
                {% else: %}
                    <label for="radio-{{ year }}"><input onchange="reloadPage()" id="radio-{{ year }}" value="{{ year }}" type="radio" name="year-selection">{{ year }}</label>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
{% block main %}

<p class="info">The goal of Depreciation Station is to compare the rate at which different coloured cars depreciate and for this, data is obtained from Autotrader using Python and web scraping. The scraping is automated to run daily on a Raspberry Pi 4 model b while this web page is hosted on PythonAnywhere. Data is communicated between these two nodes using a Flask RESTful API and starting in July 2021, some time needs to pass for data to be accumulated before any insight can be gained into the depreciation rates of different coloured cars. Come back tomorrow to see the new recordings!</p>

<div class="home-wrapper">
    <div class="left-col">

        <embed class="graph" src="{{ snapshot_graph | safe }}" type="image/svg+xml">
        <p class="info">This graph shows a snapshot of cars ({{ year_selection }} model year) listed on Autotrader today. Each dot represents one car's color, mileage and value. This particular plot does not give one much insight into the depreciation of different coloured cars, but it shows the instantaneous distribution of cars for different colours.</p>
    
    </div>
    <div class="right-col">
        
        <embed class="graph" src="{{ timeline_graph | safe }}" type="image/svg+xml">
        <p class="info">The above graph displays accumulated data gathered from Autotrader by an automated Web Scraper running on a Raspberry Pi 4 model b. The daily process of scraping Autotrader works as follows: <br> For every colour and year, all cars listed on Autotrader are considered and their values are recorded. These values are ordered and the median value is saved for each combination of colour and model year. This data is sent daily from the RPI to this web page hosted on PythonAnywhere using a flask RESTful API and these median values are displayed above for cars from {{ year_selection }}.</p>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script>

    function reloadPage(){

        var yearForm = document.getElementById("year-form");
        yearForm.submit();

    }

    // document.addEventListener("DOMContentLoaded", function(){

    //     console.log("Test");
    //     setTimeout(function(){
    //         legends = document.getElementById("activate-serie-0");
    //         console.log(legends);
    //     }, 3000)
       

    // })
</script>
{% endblock %}